:root {
    font-size: 100%;
}

body {
    background-color: var(--light);
}

a {
    text-decoration: none;
    color: var(--danger);
}

a:hover {
    text-decoration: none;
}

.content {
    background-color: #fff;
    margin-top: 1rem!important;
    margin-bottom: 3rem!important;
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
    background: #fff;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.button-link {
    border: none !important;
}

.custom-control-input:checked~.custom-control-label::before {
    border-color: var(--danger) !important;
    background-color: var(--danger) !important;
}

.nav-tabs .nav-link {
    background-color: var(--light);
    color: var(--secondary);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--danger);
    background-color: #fff;
}